# npm / Yarn / pnpm
node_modules/
# compiled JavaScript, TypeScript declaration files and source maps
dist/
build/
*.tsbuildinfo
# dotenv, Prisma, Firebase, AWS, etc.
.env*
!.env.example
.prisma/
prisma/*.prisma

# OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo